article > section * {
  margin: theme('spacing.8') auto;
}

article > section br {
  margin: 0 auto;
}

.color-light {
  color: theme("colors.indigo.600");
}

.color-dark {
  color: theme("colors.purple.400");
}

.light blockquote {
  border-left: 0.25rem solid theme('colors.indigo.600');
  color: theme('colors.gray.600');
}

.dark blockquote {
  border-left: 0.25rem solid theme('colors.purple.400');
  color: theme('colors.gray.400');
}

.dark blockquote > * {
  margin: 0;
}

.date {
  @apply text-sm;
  @apply mt-2;
  @apply mb-6;
}

.light .date {
  color: theme("colors.gray.600");
}

.dark .date {
  color: theme("colors.gray.400");
}

@media screen and (max-width: 640px) {
  section > ul,
  section > ol {
    padding-left: 1rem;
  }
}

ul {
  list-style: none;
}

ol {
  list-style: none;
  counter-reset: li;
}

li {
  counter-increment: li;
}

.light li::before {
  color: theme("colors.indigo.600");
}

.dark li::before {
  color: theme("colors.purple.400");
}

li::before {
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

section ul li,
section ol li {
  margin: 0.5em auto;
}

section ul li > p {
  margin: -1.5em auto 0;
}

section ul li > ul li {
  margin-left: 1em;
}

section ul li > ul,
section ul li > ol,
section ol li > ul,
section ol li > ol {
  margin-top: 0;
}

section > ul li::before {
  content: "\2022";
}

section > ol li::before {
  content: counter(li);
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
}

.nav-link {
  @apply font-display;
  @apply font-bold;
}

.light .nav-link {
  color: theme("colors.indigo.600");
}

.dark .nav-link {
  color: theme("colors.purple.400");
}

.light footer p {
  color: theme("colors.gray.900");
}

.dark footer p {
  color: theme("colors.white");
}
