@tailwind base;

.dark {
  background-color: theme("colors.gray.900");
  color: theme("colors.white");
}

.light {
  background-color: theme("colors.white");
  color: theme("colors.gray.900");
}

div.dark, div.light {
  transition: background-color 0.6s ease;
}

.light h3.post-title {
  color: theme("colors.indigo.600")
}

.dark h3.post-title {
  color: theme("colors.purple.400")
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply tracking-tight;
}

h1,
h2,
h3 {
  @apply font-display;
  @apply font-black;
}

h4,
h5,
h6 {
  @apply font-serif;
  @apply font-bold;
}

p,
li {
  @apply font-body;
  @apply text-lg;
}

small {
  @apply font-body;
}

article {
  @apply mt-8;
}

footer {
  @apply mt-12;
  @apply font-body;
}

p, h1, h2, h3, h4, h5, h6, li, small {
  transition: color 0.6s ease;
}

.light footer {
  color: theme("colors.gray.600");
}

.dark footer {
  color: theme("colors.gray.400");
}

.light .home-link {
  color: theme("colors.indigo.600");
}

.dark .home-link {
  color: theme("colors.purple.400");
}

.toggle-icon {
  text-align: center;
  padding-top: 3px;
}

.toggle-wrapper {
  @apply bg-gray-800;
  display: block;
  cursor: pointer;
  width: 50px;
  height: 28px;
  padding: 3px;
  border-radius: 17px;
}

.toggle-wrapper input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle {
  height: 100%;
  display: grid;
  grid-template-columns: 0fr 1fr 1fr;
  transition: 0.2s;
}

.toggle::after {
  @apply bg-white;
  content: '';
  border-radius: 50%;
  grid-column: 2;
}

input:checked + .toggle {
  grid-template-columns: 1fr 1fr 0fr;
}

.tag {
  @apply rounded-full py-1 px-3 text-xs mr-2 mb-2;
  transition: background-color 0.6s ease, color 0.6s ease;
}

.dark .tag {
  @apply bg-pink-200 text-gray-900;
}

.light .tag {
  @apply bg-pink-600 text-white;
}

@tailwind components;
@tailwind utilities;
